.navBar {
  /* display: none; */
  position: absolute;
  width: calc(100% - 100px);
  max-width: 1400px;
  height: fit-content;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  svg {
    width: 40px;
    cursor: pointer;
  }
  svg:hover {
    opacity: 0.8;
  }
  .menu-icon {
    visibility: hidden;
  }
}
.leftMenu {
  display: flex;
}
.selectedBotProfile {
  display: none;
}

@media (max-width: 600px) {
  .navBar {
    .menu-icon {
      visibility: visible;
    }
  }
  .leftMenu {
    display: none !important;
  }
  .show {
    display: flex !important;
    position: absolute;
    z-index: 100;
    background-color: rgb(41, 41, 41);
    width: calc(100% - 100px) !important;
    height: calc(100% - 100px);
  }
  .layout-wrapper {
    grid-template-columns: 100% !important;
    .chat-bubble {
      max-width: 90% !important;
    }
  }
  .selectedBotProfile {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    position: relative;
    box-shadow: 0 2px 4px -2px black;
    .imgBox {
      margin-right: 10px !important;
    }
    .name {
      display: block;
      width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .historyUnderProfile {
    height: calc(100% - 35px) !important;   /* 상단에 selectedBotProfile 구간 30px + 그 구간의 padding 5px */
  }
}